<?xml version="1.0"?>
<model>
  <name>hillstar</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Aabhash Bhandari</name>
    <email>aabhash.bhandari@uni.lu</email>
  </author>
  <description>Model of the fully-actuated Hillstar aerial platform.</description>
</model>
